@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  color: inherit;
  color: #fff !important;
}

@layer base {
  h1 {
    @apply text-4xl font-bold mb-3 md:text-6xl  lg:text-8xl;
  }

  h2 {
    @apply text-5xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold mt-2 uppercase;
  }
}

.portfolio-container {
  @apply p-20 mx-auto mt-8;
}

.lang-icons{
  @apply mr-3 font-semibold;
}
 
.skills-row{
  @apply flex flex-col items-center hover:scale-125 cursor-pointer;
}

.skills-text{
  @apply mt-2 text-accent font-bold;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #fff;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}
